[submodule "moose/agents/finance_office"]
	path = moose/agents/finance_office
	url = git@github.com:plummm/moose-finance-office.git

[submodule "moose/agents/news_scraper"]
	path = moose/agents/news_scraper
	url = git@github.com:plummm/moose-news-scraper.git

[submodule "moose/agents/nytimes_agent"]
	path = moose/agents/nytimes_agent
	url = git@github.com:plummm/moose-nytimes-agent.git

[submodule "moose/agents/telegram_stock_bot"]
	path = moose/agents/telegram_stock_bot
	url = git@github.com:plummm/moose-telegram-stock-bot.git

[submodule "moose/agents/truthsocial_agent"]
	path = moose/agents/truthsocial_agent
	url = git@github.com:plummm/moose-truthsocial-agent.git

[submodule "moose/agents/alpaca_trader"]
	path = moose/agents/alpaca_trader
	url = git@github.com:plummm/moose-alpaca-trader.git
[submodule "moose/agents/ha_agent_core"]
	path = moose/agents/ha_agent_core
	url = https://github.com/plummm/moose-HA-agent.git
